:root {
    --font-family-1: 'Geist Mono', sans-serif;
    --font-family-arabic: 'Cairo', sans-serif;

    --blue-50: #eff6ff;
    --blue-600: #2268ff;
    --color-primary: #155dfc;

    --gray-50: #f9fafb;
    --gray-200: #e5e7eb;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-800: #1f2937;

    --black: #000000;
    --white: #ffffff;
    --red-600: #dc2626;
}

