.auth-header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 2.25rem;
}

.auth-header .back-btn {
    padding: 0.6rem;
    width: 2.5rem;
    height: 2.5rem;
    background: white;
    border: 1px solid var(--gray-200);
    border-radius: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auth-header .back-btn:hover {
    background: var(--gray-50);
}

.auth-header .auth-title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--gray-800);
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.form-container p {
    margin: 0;
    line-height: normal;
}

.form-container .email-info .instr-text {
    color: var(--gray-800);
    font-size: 1rem;
}

.form-container .email-info .email-text {
    color: var(--blue-600);
    font-size: 1rem;
    font-weight: 500;
    margin-top: 0.25rem;
}

.form-container .main-instr {
    color: var(--gray-800);
    font-size: 1rem;
}

.form-container .spam-instr {
    color: var(--gray-400);
    font-size: 0.9rem;
    margin-top: 0.5rem;
}

.form-container .auth-footer {
    margin-top: 4rem;
    font-size: 1rem;
    color: var(--gray-500);
}

.form-container .auth-footer a {
    color: var(--blue-600);
    cursor: pointer;
    font-weight: 500;
    text-decoration: none;
}

.form-container .auth-footer a:hover {
    text-decoration: underline;
}