<div class="auth-header">
    <button
        (click)="onBack()"
        class="back-btn"
    >
        <i class="pi pi-arrow-left"></i>
    </button>
    <h1 class="auth-title">Password Reset Sent</h1>
</div>

<div class="form-container">
    <div class="email-info">
        <p class="instr-text">We have sent a password reset link to:</p>
        <p class="email-text">{{ email }}.</p>
    </div>

    <p class="main-instr">
        Please check your inbox and follow the instructions to reset your
        password.
    </p>

    <p class="spam-instr">
        If you don't see the email within a few minutes, check your spam or junk
        folder.
    </p>

    <p class="auth-footer">
        Don't have an account? <a (click)="onCreateAccount()">Create yours</a>
    </p>
</div>
