<div class=" min-h-screen bg-gradient-to-b from-blue-100 via-blue-200 to-blue-4200 flex justify-center items-center">

    <!-- Main Content -->
    <div class=" px-6 pt-5">

        <!-- Logo Section -->
        <div class="flex items-center gap-2 ">
            <div class="flex items-center justify-center">
                <img src="img/icons/folder-code.svg" alt="">
                <span class="font-bold text-xl text-blue-600">Exam App</span>
            </div>
        </div>

        <div class="my-25">
            <!-- Main Heading -->
            <h1 class="text-3xl font-bold text-gray-800 leading-tight mb-10">
                Empower your learning journey<br>
                with our smart exam platform.
            </h1>

            <!-- Features -->
            <div class="space-y-12">

                <div class="flex items-start gap-6">
                    <img src="img/icons/brain.svg" alt="">
                    <div>
                        <h3 class="text-xl font-semibold text-blue-600 mb-1">Tailored Diplomas</h3>
                        <p class="text-4 text-gray-600 leading-relaxed">
                            Choose from specialized tracks like <br> Frontend, Backend, and Mobile <br> Development.
                        </p>
                    </div>
                </div>

                <div class="flex items-start gap-6">
                    <img src="img/icons/book.svg" alt="">
                    <div>
                        <h3 class="text-xl font-semibold text-blue-600 mb-1">Focused Exams</h3>
                        <p class="text-4 text-gray-600 leading-relaxed">
                            Access topic-specific tests including <br> HTML, CSS, JavaScript, and more.
                        </p>
                    </div>
                </div>

                <div class="flex items-start gap-6">
                    <img src="img/icons/threeDots.svg" alt="">
                    <div>
                        <h3 class="text-xl font-semibold text-blue-600 mb-1">Smart Multi-Step Forms</h3>
                        <p class="text-4 text-gray-600 leading-relaxed">
                            Choose from specialized tracks like <br> Frontend, Backend, and Mobile <br> Development.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>